.slider {
  max-width: 800px;
  margin: 0 auto;
}

.slider__images-container {
  position: relative;
  width: 100%;
  padding-bottom: 66.66667%;
}

.slider__image-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
}

.slider__image-container img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 800px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.slider__image-container.slider__image-container--first {
  width: 100%;
}

.slider__image-container.slider__image-container--second {
  width: 50%;
}
