@import './variables';

.slider {
    max-width: $image-width;
    margin: 0 auto;

    &__images-container {
        position: relative;
        width: 100%;
        padding-bottom: $image-height-proportion;
    }

    &__image-container {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: $image-width;
            -webkit-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;


        }

        &.slider__image-container--first {
            width: 100%;

        }

        &.slider__image-container--second {
            width: 50%;

        }

        // 8.32
    }


}